<slide class="{{ slide.class }}" id="{{ slide.id }}" style="background:#F1E7C8;">
  {{# slide.header }}
  <hgroup>
    {{{ slide.header}}}
  </hgroup>
  {{/ slide.header }}
  <article data-timings="{{ slide.dt }}">
    {{{ slide.content }}}
  </article>
  <!-- Footer  -->
  <footer class = 'lufoot'>
     <img height = '20px' src='assets/img/lulogo.jpg'>
  </footer>
  <!-- End Footer-->
  <!-- Presenter Notes -->
  {{# slide.pnotes }}
  <aside class="note" id="{{ id }}">
    <section>
      {{{ html }}}
    </section>
  </aside>
  {{/ slide.pnotes }}
</slide>

