body{
  font-family: 'Georgia', 'Helvetica', sanserif;
  font-size: 1em;
  color: black;
}

.title-slide {
   /* background-color: #663700; /* LU Brown */
  /* background-color: #CBE7A5; #EDE0CF; ; #CA9F9D*/
  /* background-image:url(http://goo.gl/EpXln); */
  background-image:url(https://webapps.lehigh.edu/hpc/training/lutitle.png); */
}

.title-slide hgroup > h1, 
.title-slide hgroup > h2,
.title-slide hgroup > p {
 font-family: 'Georgia', 'Helvetica', sanserif; 
 margin-left: -60px;
}

.title-slide hgroup > h1, 
.title-slide hgroup > h2 {
  color: #FFFFFF; /*#535E43 ;  /* ; #EF5150*/
/*  color: #F1E7C8;
/*
  text-align: right;
  margin-right: 0px;
*/
}

.title-slide hgroup h1 {
  font-size: 3rem;
  letter-spacing: -0px;
/*
  text-align: right;
*/
}
.title-slide hgroup h2 {
  font-size: 2rem;
/* 
  text-align: right;
*/
}
.title-slide hgroup > p {
  color: #F1E7C8;
  font-size: 1rem;
/*
  text-align: right;
  margin-right: 15px;
*/

}

aside.gdbar {
  height:5px;
  width: 5px;
  position: absolute;
  left: -1px;
  top: 125px;
  right: 0;
  left: -moz-initial;
  left: initial;
  -webkit-border-radius: 0 0px 0px 0;
  -moz-border-radius: 0 0px 0px 0;
  -ms-border-radius: 0 0px 0px 0;
  -o-border-radius: 0 0px 0px 0;
  border-radius: 0 0px 0px 0;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #663700), color-stop(100%, #663700)) no-repeat;
  background: -webkit-linear-gradient(left, #663700, #663700) no-repeat;
  background: -moz-linear-gradient(left, #663700, #663700) no-repeat;
  background: -o-linear-gradient(left, #663700, #663700) no-repeat;
  background: -ms-linear-gradient(left, #663700, #663700) no-repeat;
  background: linear-gradient(left, #663700, #663700) no-repeat;
  -webkit-background-size: 0% 100%;
  -moz-background-size: 0% 100%;
  -o-background-size: 0% 100%;
  background-size: 0% 100%;
  -webkit-transition: all 0.5s ease-out 0.5s;
  -moz-transition: all 0.5s ease-out 0.5s;
  -ms-transition: all 0.5s ease-out 0.5s;
  -o-transition: all 0.5s ease-out 0.5s;
  transition: all 0.5s ease-out 0.5s;
}

aside.gdbar img {
  width: 250px;
  height: 50px;
  position: absolute;
  right: 0;
  margin: -90px 40px;
/*  margin: 8px 15px; */
}

.class hgroup {
  background: #663700;
  height: 80px;
  margin-left: -60px;
  margin-top: -40px;
  margin-right: -60px;
  color: white;
}

.class hgroup > h2 {
  color: white;
  padding-left: 10px;
  padding-top: 10px;
}

.class footer {
  background: #502D0F;
  padding-bottom: 10px;
/*  margin-left: -60px;
  margin-right: -60px; */
}

.class footer img {
  height: 20px;  
}

.class footer p {
  padding-left: 30px;
  background: #fff;
  color: #000;
}

.pagination {
   position: relative;
   bottom: 100px;
   left:600px;
}
 
.pagination ul li:before {
   content: "";
}


slides > slide:not(.nobackground):after {
  font-size: 12pt;
  color: white;
  content: attr(data-slide-num) "/" attr(data-total-slides);
  position: absolute;
  bottom: -2px;
  right: 20px;
  line-height: 1.9;
}


ul > li:before {
  content: '\27A4';
  color: #663700;
  margin-left: -1.5em;
  position: absolute;
  font-weight: 600;
}

ul li ul li:before {
  content: '\274F';
}

ul li ul li ul li:before {
  content: '\2746';
}

ul li ul li ul li ul li:before {
  content: '\272a';
}

.unilist li:before { list-style: none; line-height: 1.5em; }
.unibull { position: absolute; margin-left: -1.5em; width: 2em; color: #663700; font-weight: 600;}

.txtbull { color: #663700}

em {
  font-style: oblique;
}

strong {
  font-weight: bold;
}

.tiny ul li {font-size: 17px;}

.tiny p {font-size: 0.5em; padding-bottom: 2px;}

.small article { font-size: 12px;}

.small ul li { font-size: 20px}

.smaller pre {
  font-size: 8px;
  background-color: #e7e2d8;
}

pre > code {
  font-size: 12px;
  background-color: #e7e2d8;
}

.big pre > code {
  font-size: 16px;
}

table th, table td {
  text-align: center;
}

table.pbs td:first-child {
 width: 330px;
}

table.pbs td {
 text-align: left;
}

.lufoot {
  font-size: 14px;
  width: 100%;
  /*color: #a9a9a9;*/
  position: absolute;
  bottom: -10px;
  left: 0px;
  right: 5px;
}

.lufoot img { padding-left: 5px; padding-top: 4px;}

img.fullwidth {
 float: center;
 max-width: 90%;
 height: auto;
 margin: auto;
}
 
.alert {
  color: darkred;
}

img.thumb {
 float: center;
 max-width: 200px;
 height: auto;
 margin: auto;
}
